{% extends 'base.html' %}
{% load static %}
{% load i18n %}

            {% block content %}
            <div class='row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 three'>
                <div class='col-xs-11 text_boder'>
                	    <h3 class="text text_header text_main">{% trans 'Education' %}:</h3>
                	    <ul>
	                        <li class="paragraph text">2004 – 2009  –  
                             {% trans 'Ukrainian Catholic University, Humanities faculty,  history,  bachelor' %}. </li>
	                        <li class="paragraph text">2009 – 2010  –
                            {% trans "Lviv National University, Historical faculty,  master's degree" %}</li> 
                        </ul>  
                </div>
            </div>
            <div class='row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2'>
                <div class="col-xs-5 col-xs-offset-1 text">
                    <a href='{% url "experience" %}' class="btn btn-default more_buttom">
                        <i class="fa fa-arrow-left simpl_icon arrow_left"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-xs-offset-3 text">
                    <a href='{% url "professional_skills" %}' class="btn btn-default more_buttom">
                        <i class="fa fa-arrow-right simpl_icon arrow_right"></i>
                    </a>
                </div>
            </div>
            {% endblock content %}
            