{% extends 'base.html' %}

{% load static %}


            {% block content %}
            	<h3 class="text">Головне</h3>
                <p class="paragraph text">Дата народження – 23 березня 1986 року.
                  <br>Місце проживання - с. Добросин, Жовківський р-н., Львівська обл., вул. Центральна буд. 12
                  <br>тел. +380680260038
                  <br>+380502518406
                  <br>email: smolynets@gmail.com.ua
                  <br>Мета: отримання посади Python/Django developer</p>
            {% endblock content %}
            {% block next %} href='{% url "two" %}' {% endblock next %}
            