{% extends 'base.html' %}
{% load static %}
{% load i18n %}

            {% block content %}
            <div class='row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 thumbnail'>
                  <div class='col-xs-12 text_boder_one title'>
                        <h1>{% trans 'Smolynets Oleh' %}</h1>
                  </div>
                  <div class='col-xs-12 text_boder_one'>
                        <img  src="/static/img/main_foto.jpg" class="img-responsive thumbnail" />
                  </div>
                  <div class='col-xs-11 text_boder_one'>
                        <h3 class="text">{% trans 'Main' %}</h3>
                        <p class="paragraph text">{% trans 'Date of birth – March 23,  1986' %}
                        <br>{% trans 'Place of residence — Dobrosyn, Zhovkva district, Lviv region,' %}  {% trans 'Tsentralna st. 12' %} {% trans '(40 km from Lviv by the Rava — Ruska way)' %}
                        <br>{% trans 'tel.' %} &nbsp; +380680260038 &nbsp; +380502518406
                        <br>email: smolynets@gmail.com.ua
                        <br>{% trans 'Destination: getting a job Junior Python/Django Web Developer in SoftFormance' %}</p>
                  </div>
            </div>
            <div>
                  <div class="col-xs-5 col-xs-offset-1 text">
                  <!--pass-->
                  </div>
                  <div class="col-xs-3 col-xs-offset-3 text">
                        <a href='{% url "two" %}' class="btn btn-default more_buttom">
                              <i class="fa fa-arrow-right simpl_icon arrow_right"></i>
                        </a>
                  </div>
            </div>
            {% endblock content %}
            