body {
    background-color: #F8F8FF;
}

.menu-container{
	margin-left: 20px;
	margin-top: 20px;
}

.menu_one{
	margin-top: 5px;
}

.text_boder{
	margin-top: 200px;
}

.paragraph{
	font-family: 'Times New Roman';
	font-size: 18px;
	line-height: 1.5;
}

.text{
	margin-top: 20px;
}

.simpl_icon{
	font-size:40px;
	color:#DEB887;
}

.lang{
	margin-top: 25px;
}
