body {
    background-color: #F8F8FF;
}


.menu-container{
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

.text_boder{
	margin-top: 30px;
}

.paragraph{
	font-family: 'Times New Roman';
	font-size: 18px;
	line-height: 1.5;
	word-spacing: 5px;
}

.text{
	margin-top: 20px;
	font-size: 1.5vw;
	font-family: 'FontAwesome';
}

.simpl_icon{
	font-size:40px;
	color:#DEB887;
}

.lang{
	margin-top: 20px;
	right: 0;
	position: absolute;
}



.text_header{
	margin-left: 20px;
}

.techno{
	margin-left: 250px
}

.text_boder_one{
	margin-top: 30px;
}

.title{
	text-align: center;
}

.thumbnail{
	margin-top: 30px;
}

.two{
	margin-top: 90px;
}

.three{
	margin-top: 190px;
}

.four{
	margin-top: 100px;
}

.five{
	margin-top: 130px;
}

.six{
	margin-top: 140px;
}

.text_main{
	font-weight: bold;

}

.more_buttom{
	margin-left: 30px;
	margin-top: 10px;
}

.mainlist{
	background-color: 	#DCDCDC;
	width: 500px;
	position: absolute;
	z-index:99999999; 
	margin-top: 40px;

}

.menu-items{
	font-size: 50px;
	margin-top: 18px;
}
