{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang='uk'>
	<head>
  		<meta charset='UTF-8'/>
    	<title>Cv</title>
  		<meta name='description'
      		value=Тест />
      	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <!-- Include Styles -->
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href='{% static 'css/main.css' %}'>
    <!-- end styles -->
    <body>
    	<div class='row sub-header'>
            <div class='col-xs-8 menu-container'>
                <ul class='nav nav-pills' role='tablist'>
                    <li role='presentation'>
                        <a href='' class="btn btn-default more_buttom">{% trans 'All pages' %}</a>
                    </li>
                    <li role='presentation' class='menu-items hidden'>
                        <a href='{% url 'home' %}'>{% trans 'Main' %}</a>
                    </li>
                    <li role='presentation' class='menu-items hidden'>
                        <a href='{% url 'experience' %}'>{% trans 'Experience' %}</a>
                    </li>
                    <li role='presentation' class='menu-items hidden'>
                        <a href='{% url 'education' %}'>{% trans 'Education' %}</a>
                    </li>
                    <li role='presentation' class='menu-items hidden'>
                        <a href='{% url 'professional_skills' %}'>{% trans 'Professional_skills' %}</a>
                    </li>
                    <li role='presentation' class='menu-items hidden'>
                        <a href='{% url 'technologies' %}'>{% trans 'Technologies' %}</a>
                    </li>
                    <li role='presentation' class='menu-items hidden'>
                        <a href='{% url 'personal_data' %}'>{% trans 'Personal_data' %}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 lang">
                <button class='initLangSelector btn btn-link' value='uk'>
                    <!--<img src="http://kvitky.pp.ua/static/img/ukraine.png"/>-->
                    <img src="/static/img/ukraine.png" alt='українська'/>
                </button> 
                <button class='initLangSelector btn btn-link' value='en'>
                    <img src="/static/img/united-states.png" alt='english'/>
                </button> 
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
    <!-- Javascripts Section -->
  	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  	<script src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js'></script>
    <script src="{% static 'js/script.js' %}"></script>
</html>